body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("../img/pattern.jpg") ;
    font-family: 'Slabo 27px';
}

header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
}

nav ul{
    display: inline-block;
}
nav a{
    list-style: none;
    text-decoration: none;
}

nav a li {
    display: inline-block;
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
    color: #003366;
}

nav li:hover{
    color: #348ae0;
}

section{
    margin: 10px 15%;
    padding: 10px;
    background-color: #fff;
    flex-direction: column;
}

section h1{
    text-align: center;
}

section #article-list div{
    margin-top: 50px;
    display: block;
    border-bottom: 1px solid darkgray;
}

section #article-list div a{
    text-decoration: none;
}

footer{
    background-color: black;
    margin: 0 1%;
}

footer h5{
    padding: 25px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

section form label{
    width: 200px;
    display: inline-block;
}